//Popup
.popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($text, .8);
  top: 0;
  z-index: 3;
}


.popup__content {
  position: fixed;
  max-width: 560px;
  left: 50%;
  top: 115px;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 60px 45px 60px;
  text-align: center;
}

.popup__closed {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}


.popup__title {
  margin-bottom: 20px;
}

.popup__subtitle {
  max-width: 315px;
  margin: 0 auto 40px;
}

.popup__form {
  input {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid $text;

    }
}

.popup__btn {
  margin: 10px 0 20px;
}

.popup__text {
  font-size: 14px;
  line-height: 21px;
  opacity: 0.6;
  a {
    color: $orange;
  }
}